/*
to fix the overlay of fixed navbar set a margin wqual to the height of the navbar

fix it also when viewing from mobile
*/

.navbar{
    border: solid red;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;
    /*position: fixed;*/
}

.logo{
    border:solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    text-align: center;
}

.img{
    border: solid red;
    width: 3.5rem;
    height: 3.5rem;
}

.menu ul{
    border: solid rgb(0, 255, 34);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: left;
    width: auto;
    list-style-position: outside;
    padding-right: 38px;
    flex-shrink: 2;
}

.menu li{
    padding: 0 1vh;
}

.navbar a{
    border: solid red;
    text-decoration: none;
    padding: 1em;
    display: block;
    color: rgb(255, 217, 0);
}

.cta{
    padding: 0.5em;
    display: block;
}

.navbar a:hover{
    cursor: pointer;
    background-color: #5c5b5b;
}

.bar{
    width: 100%;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    height: 3px;
}

@media (max-width: 600px){
    .navbar{
        flex-direction: column;
        align-items: center; 
    }
}