body {
  background-color: #000000;
  color: #ffd900d9;
  margin-top: 2%;
  margin-right: 4vh;
  margin-left: 4vh;
}

a{
  text-decoration: none;
}

.top{
  background-color: #000000;
  border: solid red;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.menu{
  border: solid red;
}

.menu li{
  display: inline-block;
}

.logo{
  border: solid red;
}

.cta{
  border: solid red;
}


.container {
  background-color: rgb(11, 82, 82);
  min-height: auto;
  height: 30vh;
}

.border {
  border-style: outset;
  border-width: thick;
  border-color: blue;
}

.divider1 {
  background-color: gray;
  height: 7.5vh;
  /*opacity: 0.4;*/
}

.divider2 {
  background-color: green;
  height: 5vh;
  /*opacity: 0.4;*/
}

.imgL {
  float: left;
  width: 30vh;
  max-width: 40%;
  height: auto;
  padding: 4%;
  padding-bottom: 4%;
  margin-bottom: auto;
  image-rendering: optimizeQuality;
}

.imgR {
  float: right;
  width: 30vh;
  max-width: 40%;
  height: auto;
  padding: 4%;
  padding-bottom: 4%;
  margin-bottom: auto;
  image-rendering: optimizeQuality;
}

.sideText {
    padding-top: 4%;
    display: inline-block;
}
