body {
  background-color: #000000;
  color: rgb(255, 187, 0);
  font-family: "Oswald", "Bebas Neue", sans-serif, cursive;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 2%;
}

.middle {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-width: 3.5px;
  border-style: outset;
  border-top: none;
  border-bottom: none;
  border-left: solid rgb(255, 187, 0);
  border-right: solid rgb(255, 187, 0);
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 0.85em;
}

.border {
  border: solid rgb(255, 187, 0);
  border-width: 3.5px;
  border-style: outset;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blackBorder {
  border: solid #000000;
}

.container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(255, 187, 0, 0.75);
  justify-content: center;
  align-content: center;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.img {
  padding: 3%;
  width: 10vh;
  min-width: 35vh;
  max-width: 600px;
  height: auto;
  flex: 1 1 auto;
}

.sideTxt {
  display: inline-block;
  padding: 3%;
  max-width: 600px;
  flex: 1 1 auto;
  color: #000000;
}

.divider {
  height: 70px;
  opacity: 0;
}