body {
    background-color: #000000;
    color: rgb(255, 187, 0);
    font-family: 'Oswald', 'Bebas Neue', sans-serif, cursive;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2%;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0em 2vh;
    text-align: center;
}

.logoText{
    padding-left: 1vh;
}

.imgNav{
    width: 5rem;
    height: 5rem;
    padding-left: 1vh;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: left;
    width: auto;
    list-style-position: outside;
    padding-right: 3em;
}

.menu li{
    padding: 0 1vh;
}

.navbar a{
    text-decoration: none;
    padding: 1em;
    display: block;
    color: inherit;
}

.cta{
    padding: 0.5em;
    display: block;
}

.menu a:hover{
    cursor: pointer;
    background-color: #333333;
}

.cta:hover{
    cursor: pointer;
    background-color: #333333;
}

.middle{
    background-image: url("./images/background.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    border-width: 3.5px;
    border-style: outset;
    border-top: none;
    border-bottom: none;
    border-left: solid rgb(255, 187, 0);
    border-right: solid rgb(255, 187, 0);
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 0.85em;
}

.border {
    border: solid rgb(255, 187, 0);
    border-width: 3.5px;
    border-style: outset;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.blackBorder{
    border: solid #000000;
}

.container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(255, 187, 0, 0.75);
    justify-content: center;
    align-content: center;

}

.wrapReverse {
    flex-wrap: wrap-reverse;
}

.img {
    padding: 3%;
    width: 10vh;
    min-width: 40vh;
    max-width: 600px;
    height: auto;
    flex: 1 1 auto;
}

.sideTxt {
    display: inline-block;
    padding: 3%;
    max-width: 800px;
    flex: 1 1 auto;
    color: #000000;
}


.divider {
    height: 70px;
    opacity: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5%;
    padding-left: 5%;
}

.footerText {
    text-align: center;
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    padding-right: 4%;
    padding-left: 4%;
}

@media (max-width: 60em){
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content:flex-start;  
    }

    .navbar div{
        padding: 0 1vh;
    }

    .footer{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}