body{
    background: #000000;
    color: #ffd900d9;
}

a{
    text-decoration: none;
}

.header{
    background-color: #000000;
    border: solid red;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.logo{
    border: solid blue;
}

.logoimg{
    height: 30px;
    width: 30px;
}

.menu{
    border: solid blue;
    width: 100%;
}

.menu li{
    border: solid blue;
    display: inline-block;
}

.menu a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: #ffd900d9;
}

.menu a:hover{
    color: rgb(255, 0, 0);
}

.cta{
    border: solid blue;
}

.cta li{
    border: solid blue;
    display: block;
}

.cta a{
    float: left;
    border: solid blue;
    color: #ffd900d9;
    display: block;
}

.cta a:hover{
    color: rgb(255, 0, 0);
}
/*
.middle{
    background-color: #000000;
    border: solid red;
}

.footer{
    background-color: #000000;
    border: solid red;
}
*/