{% extends "layout.html" %}

{% block content %}
<div class="containerDishes">

    <h1><u>{{ menuitems.Type }}</u></h1>
    <h1>{{ menuitems.Name }}</h1>
    <p>{{ menuitems.Description }}</p>
    <p>{{ menuitems.Price }} €</p>

    <form method='post'>
        <input type='submit' name='setFavourite' class='favbutton' value=' &hearts; ' />
    </form>                          
    <form action='favourites.php' method='post'>
        <br><input type='submit' name='goToFavourites' class='favbutton' value='Go to favourites' />
    </form>
</div>   
{% endblock %}