{% block footer %}

    {% for footer in footers %}
<div class="footer border">
    <div class="Contact_details footerText">
      <h2>Contact details</h2>
      <p>{{ footer.address }}</p>
      <p>Telephone number: {{ footer.telephone }}</p>
      <p>Email address: {{ footer.email }}</p>
    </div>

    <div class="Opening_hours footerText">
      <h2>Opening hours</h2>
      <p>MON - FRI: {{ footer.weeklyopen }} - {{ footer.weeklyclose }}</p>
      <p>SAT - SUN: {{ footer.weekendopen }} - {{ footer.weekendclose }}</p>
    </div>

    <div class="Location footerText">
      <h2>Location</h2>
      <map class="map" name="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1615.7592403116178!2d14.461759976073377!3d35.90980716744374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x599f84b355ec0d56!2zMzXCsDU0JzM1LjMiTiAxNMKwMjcnNDYuMyJF!5e0!3m2!1sen!2smt!4v1650898665029!5m2!1sen!2smt"
          width="300vh" height="200vh" style="border:0" allowfullscreen="y" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </map>
    </div>
  </div>
  </html>
{% endfor %}
{% endblock %}
