{% extends "layout.html" %}

{% block content %}
<div class="middle">
    <div class="divider"></div>

    <div class="container blackBorder">
        <div class="img tableImg"></div>
        <span class="sideTxt">
            <h1>
                <br>
                Reservation completed.
                <br>
                <br>
                See you soon!
            </h1>

            <h2>

            </h2>
    </div>

    <div class="divider"></div>
</div>


{% endblock %}