.border {
  border: solid rgb(255, 187, 0);
  border-width: 3.5px;
  border-style: outset;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blackBorder {
  border: solid #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0em 0vh;
  text-align: center;
}

.logoText {
  padding-left: 1vh;
}

.imgNav {
  background-image: url("https://live.staticflickr.com/65535/52048454364_90053642e8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
  width: 5rem;
  height: 5rem;
  /* padding-left: 1vh; */
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: left;
  width: auto;
  list-style-position: outside;
}

.menu li {
  padding: 0 1vh;
}

.navbar a {
  text-decoration: none;
  padding: 1vh;
  display: block;
  color: inherit;
}

.cta {
  padding: 0.5em;
  display: block;
}

.menu a:hover {
  cursor: pointer;
  background-color: #333333;
}

.cta:hover {
  cursor: pointer;
  background-color: #333333;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}

.footerText {
  text-align: center;
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  padding-right: 4%;
  padding-left: 4%;
}

@media (max-width: 60em) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar div {
    padding: 0 1vh;
  }

  .footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
